################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NorthwindProductService/obj
/.vs
/src/NorthwindProductSvice/.vs
/src/NorthwindProductSvice/NorthwindProductService/bin/Debug/net6.0
/src/NorthwindProductSvice/NorthwindProductService/obj
